{% extends "public_base.html" %}

{% block content %}
{% endblock %}
{% block content_help %}
{% endblock %}

{% block content_full %}
  <div class="row">
    <div class="large-12 columns">
      {% for gender, categories in gender_categories.items %}
            {% if categories %}
            <h1>{{ gender.1 }}</h1>
            {% for category in categories %}
                <h3>
                <a href="{% url 'ranking_html' modality_type gender.0 category.abbreviation %}">{{ category.name }}</a>
                </h3>
            {% endfor %}
            {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
