{% extends "base.html" %}
{% load admin_urls %}
{% load widget_tweaks %}

{% block content %}
    <div class="large-8 offset-2 columns">
      <h2>Ranking Links</h2>
      <ul class="admin_links">
        {% for modality in modalities %}
          <li><a href="{% url 'all_rankings' modality.abbreviation 'M' %}">Ranking {{ modality.name }} Masculino</a></li>
          <li><a href="{% url 'all_rankings' modality.abbreviation 'F' %}">Ranking {{ modality.name }} Feminino</a></li>
        {% endfor %}
      </ul>
      <h3>Admin Links</h3>
      <ul class="admin_links">
        <li><a href="{% url 'admin:ranking_app_athlete_changelist' %}">Atleta</a></li>
        <li><a href="{% url 'admin:ranking_app_category_changelist' %}">Categoria</a></li>
        <li><a href="{% url 'admin:ranking_app_modality_changelist' %}">Modalidade</a></li>
        <li><a href="{% url 'admin:ranking_app_event_changelist' %}">Evento</a></li>
        <li><a href="{% url 'admin:ranking_app_eventtype_changelist' %}">Tipos de Evento</a></li>
        <li><a href="{% url 'admin:ranking_app_athleteeventposition_changelist' %}">Posição do Atleta em um Evento</a></li>
        <li><a href="{% url 'admin:ranking_app_positionpontuation_changelist' %}">Pontos ganhos por Posição</a></li>
      </ul>
    </div>
{% endblock %}
