{% extends "public_base.html" %}

{% block content %}
{% endblock %}
{% block content_help %}
{% endblock %}

{% block content_full %}
  <div class="row">
    <div id="div_ranking" class="large-12 columns">
      <table id="ranking">
        <thead>
          <tr>
            <th>Posição</th>
            <th>Nome</th>
            <th>Equipe</th>
            {% for event in events %}
            <th>{{ event.name }}
            {% endfor %}
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block custom_js %}
  <script src="{{ STATIC_URL}}js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $.ajaxSetup({ cache: true });
      $("#ranking").dataTable({
        bProcsessing: true,
        bPaginate: false,
        bLengthChange: false,
        bFilter: true,
        bSort: true,
        bInfo: false,
        bAutoWidth: false,
        sAjaxSource: "{% url 'ranking' modality_type gender category %}",
        /* Prevent data tables from adding a cache-busting timestamp to each call */
        fnServerData: function ( sSource, aoData, fnCallback ) {
            /* Add some data to send to the source, and send as 'POST' */
            aoData.push( { "name": "data_type", "value": "json" } );
            $.ajax( {
                "dataType": 'json',
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            } );
        },
        aoColumns: [
          {"mData": "position"},
          {"mData": "name"},
          {"mData": "team_name"},
          {% for event in events %}
          {"mData": "event_points.{{event.id}}.pontuation" },
          {% endfor %}
          {"mData": "total_points"}
          ],
        aaSorting: [[{{ last_col_index }}, "desc"]]
      });
    });
  </script>
{% endblock %}
