{% extends "public_base.html" %}

{% block custom_style %}
<style>
th.verttext {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.verttext {
  width: 10px;
}
.team {
    width: 80px;
	overflow: hidden;
    white-space: nowrap;
	text-overflow: ellipsis;
    display: block;
}
table thead th.hteam {
    display: inline;
}
</style>
{% endblock %}

{% block content %}
{% endblock %}
{% block content_help %}
{% endblock %}

{% block content_full %}
  <div class="row">
    <div class="large-12 columns">
      {% for category in categories %}


  <div class="row">
    <div id="div_ranking" class="large-12 columns">
    <h3>{{ category.name }}</h3>
        <table id="ranking_{{category.id}}" class="ranking_tables">
        <thead>
          <tr>
            <th></th>
            <th>Nome</th>
            <th class="hteam">Equipe</th>
            {% for event in events %}
            <th>{{ event.name }}
            {% endfor %}
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

  {% block custom_js %}
<script src="{{ STATIC_URL}}js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function() {
      $.ajaxSetup({ cache: true });
      {% for category in categories %}
      $("#ranking_{{category.id}}").dataTable({
        bProcsessing: true,
        bPaginate: false,
        bLengthChange: false,
        bFilter: true,
        bSort: true,
        bInfo: false,
        bAutoWidth: false,
        oLanguage: {
            "sProcessing": "Buscando Dados Atualizados",
            "sSearch": "Busca"
        },
        sAjaxSource: "{% url 'ranking' modality_type gender category.abbreviation %}",
        /* Prevent data tables from adding a cache-busting timestamp to each call */
        fnServerData: function ( sSource, aoData, fnCallback ) {
            /* Add some data to send to the source, and send as 'POST' */
            aoData.push( { "name": "data_type", "value": "json" } );
            $.ajax( {
                "dataType": 'json',
                "type": "GET",
                "url": sSource,
                "data": aoData,
                "success": fnCallback
            } );
        },
        aoColumns: [
          {"mData": "position", "sClass": "verttext"},
          {"mData": "name"},
          {"mData": "team_name", "sWidth": "10%", "sClass": "team"},
          {% for event in events %}
          {"mData": "event_points.{{event.id}}.pontuation"},
          {% endfor %}
          {"mData": "total_points"}
          ],
          aaSorting: [[{{ last_col_index }}, "desc"]],
          "fnCreatedRow": function( nRow, aData, iDataIndex ) {
              $(nRow.children[2]).attr('alt', aData.team_name);
              $(nRow.children[2]).attr('title', aData.team_name);
          }
      });
      {% endfor %}
    });


  </script>
  {% endblock %}
