{% extends "base.html" %}

{% block content %}
    <div class="large-8 columns">
      Planilha de ranking XTerra processada.
        Relatório:
          Linhas processadas: {{ upload.lines_processed }}
          Erros: {{ upload.errors }}
    </div>
{% endblock %}
{% block content_full %}
  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
          <th width="200">Nome</th>
          <th>CPF</th>
          <th width="150">Sexo</th>
          <th width="150">Categoria</th>
          </tr>
        </thead>
        <tbody>
          {% for model in models %}
          <tr>
            <td>{{ model.name }}</td>
            <td>{{ model.cpf }}</td>
            <td>{{ model.gender }}</td>
            <td>{{ model.category }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
