{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="large-12 columns">
      <form action="{% url 'update_ranking' %}" method="POST" class="custom" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
          <legend>Upload de CSV</legend>
          <div class="row">
            <div class="large-6 columns">
              {{ form.event.label_tag }}
              {% if form.event.errors %}
              <label class="error">Error</label>
              {{ form.event|add_class:"error" }}
              <small class="error">{{ form.event.errors }}</small>
              {% else %}
              {{ form.event }}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              {{ form.csv_file.label_tag }}
              {% if form.csv_file.errors %}
              <label class="error">Error</label>
              {{ form.csv_file|add_class:"error" }}
              {{ form.csv_file.errors }}
              {% else %}
              {{ form.csv_file }}
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="large-2 push-10 columns">
              <input type="submit" class="button">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
{% endblock %}
