{% extends "base.html" %}

{% block content_help %}
{% endblock %}

{% block content_full %}
  <div class="row">
    <div class="large-12 columns">
      <table>
        <thead>
          <tr>
          <th width="100">Evento</th>
          <th width="50">Data</th>
          <th width="200">Processadas</th>
          <th width="150">Erros</th>
          </tr>
        </thead>
        <tbody>
          {% for model in models %}
          <tr>
            <td>{{ model.event.name }}</td>
            <td>{{ model.created_at}}</td>
            <td>{{ model.lines_processed }}</td>
            <td>{{ model.errors }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

