{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>X3M Brasil - Ranking</title>
  <link rel="stylesheet" href="{{ STATIC_URL}}css/normalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/app.css" />
  <script src="{{ STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
    body {
      font-family: 'Lato', sans-serif;
    }
    ul.admin_links {
      margin-left: 20px;
    }
  </style>
</head>
<body>
  <div class="row">
    <div class="large-12 columns">
      <hr />
    </div>
  </div>
  <div class="row" id="doc-topbar">
    <div class="large-12 columns">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name"><h1><a href="{% url 'home' %}">Ranking X3M Brasil</a></h1></li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li><a href="{% url 'upload' %}">Upload</a></li>
            <li><a href="{% url 'upload_history' %}">Histórico de Uploads</a></li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'django.contrib.auth.views.logout' %}">Sair</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="row">
  {% block content %}
  {% endblock %}
  {% block content_help %}
  {% endblock %}
  </div>
  {% block content_full %}
  {% endblock %}
  <script>
  document.write('<script src=' +
  (!'__proto__' in {} ? '{{ STATIC_URL}}js/vendor/zepto' : '{{ STATIC_URL}}js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="{{ STATIC_URL}}js/foundation.min.js"></script>

  {% block custom_js %}
  {% endblock %}
  <!--

  <script src="{{ STATIC_URL}}js/foundation/foundation.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.dropdown.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.alerts.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.clearing.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.placeholder.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.forms.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.cookie.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.joyride.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.magellan.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.orbit.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.reveal.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.section.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.tooltips.js"></script>
  -->

  <script src="{{ STATIC_URL}}js/foundation/foundation.topbar.js"></script>


  <script>
    $(document).foundation();
  </script>
</body>
</html>
