{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>XTerra Upload Ranking</title>
  <link rel="stylesheet" href="{{ STATIC_URL}}css/normalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/app.css" />
  <script src="{{ STATIC_URL}}js/vendor/custom.modernizr.js"></script>
</head>
<body>

  {% block content %}
  {% endblock %}

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '{{ STATIC_URL}}js/vendor/zepto' : '{{ STATIC_URL}}js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="{{ STATIC_URL}}js/foundation.min.js"></script>
  <!--

  <script src="{{ STATIC_URL}}js/foundation/foundation.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.dropdown.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.alerts.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.clearing.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.placeholder.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.forms.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.cookie.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.joyride.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.magellan.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.orbit.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.reveal.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.section.js"></script>

  <script src="{{ STATIC_URL}}js/foundation/foundation.tooltips.js"></script>
  -->

  <script src="{{ STATIC_URL}}js/foundation/foundation.topbar.js"></script>


  <script>
    $(document).foundation();
  </script>
</body>
</html>

