{% extends "base_simple.html" %}

{% block content %}
  <div class="row">
    <div class="large-4 push-4 4columns">
      <h3 class="text-center">
        Bye
      </h3>
    </div>
  </div>
{% endblock %}

