{% extends "base_simple.html" %}

{% block content %}
  <div class="row">
    <div class="large-4 push-4 4columns">
      <h3 class="text-center">
        Login
      </h3>
    </div>
  </div>
  {% if messages %}
  <div class="row">
    <div class="large-4 push-4 4columns">
      {% for message in messages %}
      <div data-alert="" class="alert-box alert round">
          {{ message }}
        <a href="" class="close">×</a>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="large-4 push-4 columns">
      <form action="{% url 'django.contrib.auth.views.login' %}" method="POST" class="custom">
        {% csrf_token %}
        <fieldset>
          <div class="row">
            <div class="large-12 columns">
              <label>Username</label>
              <input type="text" name="username" placeholder="Username" />
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Password</label>
              <input type="password" name="password" />
            </div>
          </div>
          <div class="row">
            <div class="large-3 push-3 columns">
              <input type="submit" class="button" value="Login"/>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
