{% load widget_tweaks %}
<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>X3M Brasil - Ranking</title>
  <link rel="stylesheet" href="{{ STATIC_URL}}css/normalize.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/foundation.css" />
  <link rel="stylesheet" href="{{ STATIC_URL}}css/app.css" />
  <script src="{{ STATIC_URL}}js/vendor/custom.modernizr.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <style>
    body {
      background:url({{ STATIC_URL }}img/background.jpg) top center fixed no-repeat !important;
      font-family: 'Lato', sans-serif;
    }
    #header {
      background:url({{ STATIC_URL }}img/header.jpg) top center no-repeat !important;
      height: 211px;
      margin-bottom: 30px;
    }
    table {
      width: 100% !Important;
    }
    table thead tr th {
      font-size: 10px;
    }
    table tr td {
      font-size: 10px;
    }

  </style>
{% block custom_style %}
{% endblock %}
</head>
<body>
  <header id="header">&nbsp;</header>
  <div class="row">
  {% block content %}
  {% endblock %}
  {% block content_help %}
    <div class="large-4 columns">
      <div class="panel">
        <h5>Ajuda</h5>
        <p>Se Precisar de ajuda envie email para a@a.com</p>
      </div>
    </div>
  {% endblock %}
  </div>
  {% block content_full %}
  {% endblock %}
  <div class="row">
    <div class="large-12 columns">
      <img src="{{ STATIC_URL }}img/footer.jpg" />
    </div>
  </div>
  <script>
  document.write('<script src=' +
  (!'__proto__' in {} ? '{{ STATIC_URL}}js/vendor/zepto' : '{{ STATIC_URL}}js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="{{ STATIC_URL}}js/foundation.min.js"></script>

  {% block custom_js %}
  {% endblock %}

  <script src="{{ STATIC_URL}}js/foundation/foundation.topbar.js"></script>
  <script>
    $(document).foundation();
  </script>
</body>
</html>

